language: python
python: 3.5
env:
  - TOX_ENV=py26
  - TOX_ENV=py27
  - TOX_ENV=pypy
  - TOX_ENV=py34
  - TOX_ENV=py35
  - TOX_ENV=lint
install:
  - sudo apt-get install clamav-daemon clamav-freshclam clamav-unofficial-sigs
  - sudo freshclam --verbose
  - sudo service clamav-daemon start
  - pip install tox
script: tox -e $TOX_ENV
